.main-wrap {
    width: 80%;
    min-width: 500px;
    height: 90%;
    min-height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    display: grid;
}

.main-wrap .ui-area {
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
}

.main-wrap .code-area {
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);   
    background-color: rgb(48, 48, 48);
}