.display-area {
    background-color: var(--color-F);
    overflow: hidden;
    display: grid;
    grid-template-rows: 30px auto;
}

.display-area .stage {
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-G);
    border-radius: 10px;
}

/* object styling */
.display-object {
    background-color: white;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    position: relative;
    transform: translate(-50%, -50%);
}
.otype_Ball {
    border-radius: 50%;
}