.keyframe-area {
    background-color: var(--color-H);
    overflow: hidden;
    display: grid;
    grid-template-rows: 30px auto;
}

.keyframe-area .keyframe-control {
    width: 100%;
    height: 100%;
    position: relative;
}

.keyframe-area .keyframe-control .times-keyframe {
    width: 80%;
    height: 100%;
    position: relative;
    left: 20%;
    z-index: 500000;
}

.keyframe-area .keyframe-control .times-keyframe .timeline {
    width: 100%;
    height: 60px;
    position: relative;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    background-color: var(--color-C);
}

.keyframe-area .keyframe-control .times-keyframe .timearea-splition-cover {
    width: 100%;
    height: calc(100% - 30px);
    position: absolute;
    top: 30px;
}

.keyframe-area .keyframe-control .times-keyframe .timearea-splition-cover .timearea-splition {
    width: 1px;
    height: 100%;
    background-color: var(--color-E);
    display: inline-block;
}

.keyframe-area .keyframe-control .times-keyframe .timearea-splition-cover .timearea-splition .text {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 500;
    font-size: 13px;
    color: var(--color-D);
    white-space: nowrap;
    padding-left: 10px;
}

.keyframe-area .keyframe-control .objects-keyframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.keyframe-area .keyframe-control .objects-keyframe .objects-info {
    width: 20%;
    height: 60px;
    position: relative;
    top: 0;
    left: 0;
    background-color: var(--color-C);
}

.keyframe-area .keyframe-control .objects-keyframe .objects-info .info-text {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: white;
    width: fit-content;
    height: fit-content;
    display: inline-block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}



/* keyframe object */
.object-keyframe {
    width: 100%;
    height: 70px;
    position: relative;
    background-color: rgb(214, 214, 214);
    display: grid;
    grid-template-columns: 20% auto;
}

.object-keyframe .info-area {
    width: 100%;
    height: 100%;
    position: relative;
}

.object-keyframe .info-area .object-title {
    width: 70%;
    height: 60%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.object-keyframe .info-area .object-title .object-title-text {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: black;
    width: 100%;
    height: fit-content;
    margin: 0;
    position: absolute;
    top: 0;
}

.object-keyframe .info-area .object-title .object-info-text {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 500;
    font-size: 13px;
    color: var(--color-B);
    width: 100%;
    height: fit-content;
    margin: 0;
    position: absolute;
    bottom: 0;
}