:root {
    --color-A: rgb(48, 48, 48);
    --color-B: rgb(56, 56, 56);
    --color-C: rgb(66, 66, 66);
    --color-D: rgb(160, 160, 160);
    --color-E: rgb(172, 172, 172);
    --color-F: rgb(200, 200, 200);
    --color-G: rgb(230, 230, 230);
    --color-H: rgb(240, 240, 240);
}

.area-block {
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    transition: all .2s cubic-bezier(0.05, 0.74, 0.25, 1);
}

.area-block .menu {
    width: 100%;
    height: 30px;
    position: relative;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    background-color: rgb(82, 82, 82);
    overflow-x: auto;
    overflow-y: hidden;
}

.area-block .menu .menu-text {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: white;
    width: fit-content;
    height: fit-content;
    padding: 5px 10px;
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    transition: all .2s ease;
    cursor: pointer;
    border-radius: 10px;
}

.area-block .menu .menu-text:hover {
    background-color: rgb(66, 66, 66);
}

.area-block .menu .menu-text:first-child {
    margin-left: 50px;
}

.area-block .menu .menu-text.focus {
    background-color: rgb(66, 66, 66);
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}